$bright-blue = #0071dc
$light-blue = #2D3152
$dark-blue = #131532

body, html
  position relative
  width 100%
  height auto
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  background-color black
  background: #131532
  font-size: 1rem;
  font-weight 400;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
textarea, select, input, button
  outline: none;
  border: none;

p, a, h1, h1, h3, h4, h5, h6
  margin: 0;
  padding: 0;

.appContainer
  position: relative;
  margin 0
  padding 0
  display: block;
  with: 100%
  height: 100%



@import 'Todos/Todos.styl'
@import 'Navbar/Navbar.styl'
@import 'Icon/Icon.styl'
@import '../vendor/font.styl'
